*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 20%;
    margin: 50px auto;
    border-radius: 10px;
}

.inputcontainer input{
    text-align: right;
    /* border: 1px solid blue; */
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.tablecontainer table {
    /* width: 100%; */
    border-spacing: 10px;
    padding: 2px;
    /* background-color: lightgray; */
  }

.tablecontainer table td {
    /* padding: 5px; */
    text-align: center;
    border: none;
    /* background-color: lightgrey; */
    /* background-color: #ebf1e6; */
    background-color: #1B1B1B;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 55px;
    height: 55px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
     rgba(0, 0, 0, 0.09) 0px 32px 16px;

     /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}
  
.tablecontainer table td:hover {
    background-color: lightgrey;
    color: #fff;
    scale: 1.1;
}

.tablecontainer table .blueColour{
    /* color: #4796e5; */
    columns: #fff;
    background-color: orange;
}

.tablecontainer table .blueColour:hover{
    /* color: #4796e5; */
    columns: #fff;
    background-color: orange;
}

